<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositorypath" value="packages" />
  </config>
  <packageRestore>
    <!-- Allow NuGet to download missing packages -->
    <add key="enabled" value="True" />

    <!-- Automatically check for missing packages during build in Visual Studio -->
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="PInvoke CI" value="https://ci.appveyor.com/nuget/pinvoke" />
    <add key="xunit.devices CI" value="https://www.myget.org/F/xunit-xamarin/api/v2" />
  </packageSources>
</configuration>