<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="PCLCrypto.Abstractions" publicKeyToken="D4421C8A4786956C" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-0.2.0.0" newVersion="0.2.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
