<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Nerdbank.GitVersioning" version="1.1.52-rc" targetFramework="monoandroid23" developmentDependency="true" />
  <package id="StyleCop.Analyzers" version="1.0.0-beta009" targetFramework="monoandroid23" developmentDependency="true" />
  <package id="Validation" version="2.2.8" targetFramework="monoandroid23" />
</packages>