<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="wpa81" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="wpa81" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="wpa81" />
  <package id="Nerdbank.GitVersioning" version="1.1.47-rc-g58708fcf8c" targetFramework="wpa81" developmentDependency="true" />
  <package id="PCLTesting" version="0.2.2" targetFramework="wpa81" />
  <package id="Validation" version="2.0.6.15003" targetFramework="wpa81" />
  <package id="xunit" version="2.1.0" targetFramework="wpa81" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="wpa81" />
  <package id="xunit.assert" version="2.1.0" targetFramework="wpa81" />
  <package id="xunit.core" version="2.1.0" targetFramework="wpa81" />
  <package id="xunit.extensibility.core" version="2.1.0" targetFramework="wpa81" />
  <package id="xunit.extensibility.execution" version="2.1.0" targetFramework="wpa81" />
  <package id="xunit.runner.visualstudio" version="2.1.0" targetFramework="wpa81" />
</packages>