<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Mono.Security" version="3.2.3.0" targetFramework="net4-client" />
  <package id="Nerdbank.GitVersioning" version="1.1.47-rc-g58708fcf8c" targetFramework="net4-client" developmentDependency="true" />
  <package id="StyleCop.Analyzers" version="1.0.0-beta009" targetFramework="net4-client" developmentDependency="true" />
  <package id="Validation" version="2.2.8" targetFramework="net4-client" />
</packages>