<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="MonoAndroid22" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="MonoAndroid22" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="MonoAndroid43" />
  <package id="Nerdbank.GitVersioning" version="1.1.47-rc-g58708fcf8c" targetFramework="monoandroid403" developmentDependency="true" />
  <package id="PCLCommandBase" version="0.2.2" targetFramework="MonoAndroid43" />
  <package id="PCLTesting" version="0.2.2" targetFramework="MonoAndroid43" />
  <package id="Validation" version="2.0.6.15003" targetFramework="MonoAndroid43" />
  <package id="Xamarin.Android.Support.v4" version="19.0.2" targetFramework="MonoAndroid22" />
  <package id="Xamarin.Forms" version="1.1.0.6201" targetFramework="MonoAndroid22" />
</packages>