<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Nerdbank.FullDuplexStream" version="1.0.1" targetFramework="monoandroid403" />
  <package id="Nerdbank.GitVersioning" version="1.1.52-rc" targetFramework="monoandroid403" developmentDependency="true" />
  <package id="Validation" version="2.2.8" targetFramework="monoandroid403" />
  <package id="Xamarin.Android.Support.v4" version="22.2.1.0" targetFramework="monoandroid403" />
  <package id="Xamarin.Forms" version="1.5.0.6447" targetFramework="monoandroid403" />
  <package id="xunit" version="2.1.0" targetFramework="monoandroid403" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="monoandroid403" />
  <package id="xunit.assert" version="2.1.0" targetFramework="monoandroid403" />
  <package id="xunit.core" version="2.1.0" targetFramework="monoandroid403" />
  <package id="xunit.extensibility.core" version="2.1.0" targetFramework="monoandroid403" />
  <package id="xunit.extensibility.execution" version="2.1.0" targetFramework="monoandroid403" />
  <package id="xunit.runner.devices" version="1.2.0" targetFramework="monoandroid403" />
  <package id="xunit.runner.utility" version="2.1.0" targetFramework="monoandroid403" />
  <package id="Xunit.SkippableFact" version="1.0.15200-beta" targetFramework="monoandroid403" />
</packages>