<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="MonoTouch10" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="MonoTouch10" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="MonoTouch10" />
  <package id="PCLCommandBase" version="0.2.1" targetFramework="MonoTouch10" />
  <package id="PCLTesting" version="0.1.2-Beta3" targetFramework="MonoTouch10" />
  <package id="Validation" version="2.0.5.14286" targetFramework="MonoTouch10" />
  <package id="Xamarin.Forms" version="1.1.0.6201" targetFramework="MonoTouch10" />
</packages>